* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Dancing Script', cursive;
}

.flex-container {
    display: flex;
    flex-direction: column;
    background-color:#708090;
    height:100%;
    width: 100%;
}

.header {
    height:29%;
    width:100%;
}

#wrapper {
    display: grid;
    height:67%;
    width:500px;  
    margin: 0 auto; 
    background-color: #DCDCDC;
}

.footer {
    height:7%;
    width:100%;     
}

h1 {
    width: 278px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    font-style: italic;
    font-size: 50px;
    color:#ff8080;
    text-align:center
}

p {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    color:#400080;
}

h6 {
    width:200px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    color:#ff8080;
}

#control {
    width: 450px;
    margin: 0 auto;
    text-align: center;
}

button {
    display: inline;
    cursor: pointer;
    margin: 0 auto;
    width: 100px;
    height:35px;
    line-height: 35px;
    justify-content: center;
    color:white;
    background-color: #333333;
    border: 1px solid  #333333;
}

button:hover {
    background-color: #696969;
}

.box {
    display: grid;
    border: 1px solid #696969;
    text-align: center;
    cursor: pointer;
    background-color: white;
}

.space {
    display: grid;
    border: 1px solid #696969;
    text-align: center;
    cursor:pointer;
    background-color: white;
}

/* Media queries*/

@media screen and (max-width: 1024px) {
    #wrapper {
        width:80%;
        height: 67%;
        margin-top: 30px;
    }
    
    .footer {
        height:7%;
        margin-top: 50px;
        width:100%;     
    }
    
    h1 {
        width: 278px;  
    }

    #control {
        width: 80%;
    }

    button {
        width: 65px;    
    }
}





